terraform/01-provision/.terraform
**/.terraform
**/*.tfstate*
terraform/01-provision/demo-config
*.pem
**/.terraform.lock.hcl
env.sh
helm/cert-manager/templates/tls.crt
helm/cert-manager/templates/tls.key
helm/cert-manager/templates/secret.yaml
helm/infra/cert-manager/templates/tls.crt
helm/infra/cert-manager/templates/tls.key
helm/infra/cert-manager/templates/secret.yaml
kube_config.yaml
